@import 'tailwindcss';
@import "tailwindcss-animated";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242323;
}

header {
    background-color: #242323;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.PaulAllensCard{
    font-size: 8rem;
    margin: 0;
    color: #fff;
    padding:10px 30px;
    border-radius:20px;
    border:none;
    box-shadow:0 0 0 4px rgb(255, 255, 255);
    float:left;
}

.Socials{
    margin: 0;
    color: #fff;
    padding:10px 30px;
    border-radius:20px;
    border:none;
    box-shadow:0 0 0 4px rgb(255, 255, 255);
    float:right;
}
h1 {
    font-size: 8rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

main {
    max-width: 1500px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.blog-post {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
}

.post-meta {
    font-size: 0.9rem;
    color: #777;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #242323;
    text-align: center;
    padding: 1rem;
}
